<div id="root">
  <div class="quiz-container">
    <div class="quiz-question-container">
      <div class="quiz-question">{{currentQuestion.question}}</div>
    </div>

    <div class="quiz-response-container">
      <div class="quiz-response-button" *ngIf=showResponseBtn (click)="showResponseBtnClick()">Réponse</div>
      <div class="quiz-response" *ngIf=showResponse>{{currentQuestion.answer}}</div>
      <div class="quiz-response-image" *ngIf="showResponseImages && currentQuestion.images">
        <div *ngFor="let image of this.currentQuestion.images">
          <img class="quiz-image" [src]="image" alt="">
        </div>
      </div>
    </div>

    <div class="question-controller">
      <div>
        <button mat-button class="controller-btn" (click)="backBtnClick()">
          <mat-icon aria-hidden="false">arrow_back</mat-icon>
          <span class="control-text"> Précédent</span>
        </button>
      </div>
      <div class="quiz-question-number">{{index+1}}</div>
      <div>
        <button mat-button class="controller-btn" (click)="forwardBtnClick()">
          <span class="control-text">Suivant </span>
          <mat-icon aria-hidden="false">arrow_forward</mat-icon>
        </button>
      </div>
    </div>

  </div>
</div>

<router-outlet></router-outlet>
